<%- include('partials/header') -%> <%- include('partials/navbar') -%>

<div class="overlay"></div>
<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to Event Management</h1>
    <a href="/events"><button>Go To Events</button></a>
  </div>
</div>

<%- include('partials/footer') -%>
