<footer>
  <div class="container flex space-between align-items">
    <small>Copyright © 2022 All Right Reserved | John Horo </small>
    <nav>
      <ul class="flex social">
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-facebook"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
      </ul>
    </nav>
  </div>
</footer>
</body>
</html>
