<div class="header">
  <div class="container flex space-between">
    <span class="brand"
      ><a href="/"><img src="../../images/event-logo.png" alt="logo" /></a
    ></span>
    <nav class="navbar nav flex item-center">
      <ul class="flex align-items column">
        <li><a href="/events"> Events List</a></li>
        <li><a href="/events/new">Add Events</a></li>
      </ul>
    </nav>
  </div>
</div>
